name: Deploy to heroku.
on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build, Push and Release a Docker container to Heroku. # Your custom step name
        id: heroku
        uses: snithyanantham/docker-compose-multiple-apps-heroku-deploy@v1.0
        with:
          email: 'charaka@basilurtea.com'
          api_key: ${{secrets.HEROKU_API_KEY}}
          docker_compose_file: './docker-compose.yml'
          heroku_apps: '[]'